@import 'variables';

@import './fonts/OpenSans';

@import 'bootstrap-icons';

@import '../../silverstripe-admin/client/src/styles/_variables';

.cms-login-status__profile-link .font-icon-torso {

  @extend .bi, .bi-person-fill;
}

.menu__icon.font-icon-sitemap {

  @extend .bi, .bi-box-fill;
}

.menu__icon.font-icon-page-multiple {

  @extend .bi, .bi-megaphone-fill;
}

.menu__icon.font-icon-image {

  @extend .bi, .bi-image-fill;
}

.menu__icon.font-icon-chart-line {

  @extend .bi, .bi-graph-up-arrow;
}

.menu__icon.font-icon-torsos-all {

  @extend .bi, .bi-people-fill;
}

.menu__icon.font-icon-box {

  @extend .bi, .bi-archive-fill;
}

.menu__icon.icon.icon-16.icon-axllent-metaeditor-metaeditor {
  background-image: none;

  @extend .bi, .bi-bar-chart-fill;
}

.menu__icon.icon.icon-16.icon-silverstripe-redirectedurls-admin-redirectedurladmin {
  background-image: none;

  @extend .bi, .bi-shuffle;
}

.menu__icon.font-icon-cog {

  @extend .bi, .bi-gear-wide-connected;
}

.menu__icon {
  margin-top: -3px !important;
}

.action.font-icon-tick {

  @extend .bi, .bi-check2-circle;
  // @extend .bi, .bi-check-lg;
}

.action.font-icon-save {

  @extend .bi, .bi-check-circle-fill;
}

.action--delete.font-icon-trash-bin {

  @extend .bi, .bi-trash3-fill;
}

.cms-login-status__logout-link.font-icon-logout {
  font-size: 18px;

  @extend .bi, .bi-sign-turn-right-fill;
}

input[type=checkbox] {
  cursor: pointer;
  outline: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  width: 20px;
  height: 20px;
  border: 1px solid #dee2e6;
  border-radius: .23rem;
  left: 0;
  top: -1px;
  display: inline-block;
  place-content: center;
  transition: border .3s ease-in-out;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  opacity: 0;
  position: relative;
  top: 2px;
  left: 2px;
  transition: .3s opacity ease-in-out;
  mask-image: url('#{$theme-path-extra}images/check.svg');
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #fff;
}

input[type=checkbox]:checked {
  border-color: $brand-primary;

  &:before {
    opacity: 1;
    background-color: $brand-primary;
  }
}

input[type=radio] {
  outline: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  width: 18px;
  height: 18px;
  border: 1px solid #dee2e6;
  border-radius: 50%;
  display: inline-block;
  place-content: center;
  left: 0;
  transition: border .3s ease-in-out;
}

input[type=radio]:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: $brand-primary;
  position: absolute;
  top: 3px;
  left: 3px;
}

input[type=radio]:checked {
  border-color: $brand-primary;

  &:before {
    transform: scale(1);
  }
}

.form-check-label {
  cursor: pointer;
  margin-left: 15px;
}

.btn-primary {
  color: #fff !important;
}

// Extra

.fcol-12 {
  width: 100%;
}

.fcol-6 {
  width: 100%;

  @media (min-width: 992px) {
    width: calc(50% - 10px);
  }
}

.badge-success {
  color: #fff !important;
}

// Logo / Loadings

.btn__loading-icon {
  background-image: url('#{$theme-path-extra}images/loading.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0;
  width: 100%;
  height: 100%;
}

.btn__loading-icon span {
  opacity: 0;
}

.ss-loading-screen svg {
  background-image: url('#{$theme-path-extra}images/loading.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.ss-loading-screen__logo__part {
  opacity: 0;
}

.cms-content-loading-spinner .spinner {
  background-image: url('#{$theme-path-extra}images/loading.svg');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.cms-content-loading-spinner .spinner svg {
  opacity: 0;
}

.ss-loading-screen__text {
  display: none;
}

// .cms-help__menu .cms-help__logo {
//   background: none;
//   mask-image: url(../images/ss.svg);
//   mask-position: center;
//   mask-size: 80%;
//   mask-repeat: no-repeat;
//   background-color: #fff;
// }

// Select component

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  color: $gray-600 !important;
}

.chosen-container .chosen-results li.highlighted {
  background-color: $brand-primary !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, $brand-secondary), color-stop(90%, $brand-secondary)) !important;
  background-image: linear-gradient($brand-primary 20%, $brand-secondary 90%) !important;
  color: #fff !important;
}

// Display logic component styles

.display-logic-dispatcher .form-check-label {
  cursor: pointer;
}

// --

b, strong {
  font-weight: 600;
}

.history-viewer__actions-dropdown.show .dropdown-menu {
  padding: 0 15px;
  min-width: 16rem;
}

.no-change-track.history-viewer-heading__compare-mode-checkbox {
  display: block;
  position: absolute;
}

.form-group {
  margin-bottom: 3px;
  padding-bottom: 26px;
}
