@import 'variables';

// @import "./fonts/OpenSans";

@import '../silverstripe-admin/client/src/styles/_variables';

$admin-primary: $brand-primary;
$admin-secondary: #454545;
$admin-tertiary: #000;

body {
  padding: 5px 20px;
  font-family: $font-family-sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.8 !important;
  color: $admin-secondary;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.typography p {
  margin: 0 0 12px !important;
  font-family: $font-family-sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.8 !important;
}

.typography p a {
  color: #6a8dd0;

  &:hover,
  &:focus {
    color: darken(#6a8dd0, 10%);
  }
}

// .mce-content-body p,
// .mce-content-body div {
//   line-height: 1.8 !important;
//   margin-bottom: 1.5rem !important;
// }

.mce-content-body a {
  color: $admin-primary;
}

blockquote {
  position: relative;
  padding: 0 0 0 50px;
  margin: 39px 0;
  font-weight: bold;
  line-height: 1.4;
  color: $admin-secondary;
  letter-spacing: 0;
  word-spacing: 0;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 100%;
    content: '';
    background-color: $admin-tertiary;
  }
}

[data-component='true'] {
  padding: 10px;
  color: #fff;
  text-align: center;
  background-color: #9c9eaf;
}
