@import url('https://use.typekit.net/dnd2lmz.css');

@import 'variables';

@import '../silverstripe-admin/client/src/styles/_variables';

// only for ml-auto mr-auto replacement (maybe temporary)
@import './bootstrap';

input[type='checkbox'] {
  top: -1px;
  left: 0;
  display: inline-block;
  place-content: center;
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 10px;
  font: inherit;
  appearance: none;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.23rem;
  outline: none;
  transition: border 0.3s ease-in-out;
}

input[type='checkbox']::before {
  position: relative;
  top: 0px;
  left: 2px;
  display: block;
  width: 14px;
  height: 14px;
  content: '';
  background-color: #fff;
  opacity: 0;
  mask-image: url('#{$enchantment_images}check.svg');
  mask-repeat: no-repeat;
  mask-position: 70%;
  mask-size: cover;
  transition: 0.3s opacity ease-in-out;
}

input[type='checkbox']:checked {
  border-color: $brand-primary;

  &::before {
    background-color: $brand-primary;
    opacity: 1;
  }
}

input[type='radio'] {
  left: 0;
  display: inline-block;
  place-content: center;
  width: 18px;
  height: 18px;
  margin: 0;
  margin-right: 10px;
  font: inherit;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 50%;
  outline: none;
  transition: border 0.3s ease-in-out;
}

input[type='radio']::before {
  position: absolute;
  top: 3px;
  left: 3px;
  display: block;
  width: 10px;
  height: 10px;
  content: '';
  background-color: $brand-primary;
  border-radius: 50%;
  transition: 120ms transform ease-in-out;
  transform: scale(0);
}

input[type='radio']:checked {
  border-color: $brand-primary;

  &::before {
    transform: scale(1);
  }
}

.form-check-label {
  margin-left: 20px;
  cursor: pointer;
}

.btn-primary {
  color: #fff !important;
}

// Extra

.fcol-12 {
  width: 100%;
}

.fcol-6 {
  width: 100%;

  @media (width >= 992px) {
    width: calc(50% - 10px);
  }
}

.badge-success {
  color: #fff !important;
}

// Logo / Loadings

.field.urlsegment.loading .form__field-label {
  position: relative;
  background-image: unset !important;

  &::before {
    position: absolute;
    top: 3px;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 0;
    content: '';
    background-color: $brand-primary;
    mask-image: url('#{$enchantment_images}loading.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }
}

.btn__loading-icon {
  width: 100%;
  height: 100%;
  margin-top: 0;
  background-color: #fff;
  mask-image: url('#{$enchantment_images}loading.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.btn__loading-icon span {
  opacity: 0;
}

.btn-outline-primary.btn--loading .btn__loading-icon {
  background-color: $brand-success;
}

.ss-loading-screen svg {
  background-image: url('#{$enchantment_images}loading.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.ss-loading-screen__logo__part {
  opacity: 0;
}

.cms-content-loading-spinner .spinner {
  background-image: url('#{$enchantment_images}loading.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.cms-content-loading-spinner .spinner svg {
  opacity: 0;
}

.ss-loading-screen__text {
  display: none;
}

// .cms-help__menu .cms-help__logo {
//   background: none;
//   mask-image: url(../images/ss.svg);
//   mask-position: center;
//   mask-size: 80%;
//   mask-repeat: no-repeat;
//   background-color: #fff;
// }

// Select component

.chosen-container-multi .chosen-choices li.search-field input[type='text'] {
  color: $gray-600 !important;
}

.chosen-container .chosen-results li.highlighted {
  color: #fff !important;
  background-color: $brand-primary !important;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(20%, $brand-secondary),
    color-stop(90%, $brand-secondary)
  ) !important;
  background-image: linear-gradient(
    $brand-primary 20%,
    $brand-secondary 90%
  ) !important;
}

// Display logic component styles

.display-logic-dispatcher .form-check-label {
  cursor: pointer;
}

// --

.form__fieldgroup.form__field-holder.form__field-holder--no-label {
  margin-top: 5px;
}

b,
strong {
  font-weight: 600;
}

.history-viewer__actions-dropdown.show .dropdown-menu {
  min-width: 16rem;
  padding: 0 15px;
}

.no-change-track.history-viewer-heading__compare-mode-checkbox {
  position: relative;
  top: 2px;

  + label {
    position: relative;
    top: -4px;
    margin-left: 10px;
  }
}

.tab.ui-tabs-panel.ui-corner-bottom.ui-widget-content .form-group:last-child {
  &::after {
    border-bottom: 0;
  }
}

.cms-content-controls .preview-selector .chosen-drop,
.toolbar--south .preview-selector .chosen-drop {
  display: none;
}

.cms-content-controls .preview-selector .chosen-with-drop .chosen-drop,
.toolbar--south .preview-selector .chosen-with-drop .chosen-drop {
  display: block;
}

.ss-toggle .ui-accordion-content {
  overflow: unset !important; // hidden; # hidden conflicts with dropdown
}

// -- elemental

.elemental-editor-list {
  margin-top: 30px;
  margin-right: 0;
  margin-left: 0;
}

.element-editor__hover-bar-line {
  background-color: $brand-primary;
}

.element-editor__hover-bar-line::before {
  color: $brand-secondary;
}

.elemental-block__history-tab .panel--padded.panel--scrollable {
  padding: 0;
}

[class^='bi-'].element-editor-add-element__button,
[class*=' bi-'].element-editor-add-element__button {
  padding-left: 58px;

  &::before {
    position: absolute;
    top: 12px;
    left: 18px;
    margin-right: 0;
    font-size: 22px;
  }
}

.element-editor-header__title {
  margin-left: 20px;
}

.element-editor-summary {
  margin-top: 0;
  margin-left: 46px;
  font-weight: 400;
}

.element-editor-header__icon-container [class^='bi-'],
.element-editor-header__icon-container [class*=' bi-'] {
  position: relative;
  top: 1px;
  left: 6px;
}

.element-editor__element {
  padding: 20px 25px;
}

.textcheckboxgroup .input-group-append .form-check-input {
  position: absolute;
}

.element-editor-header__drag-handle .font-icon-drag-handle {
  position: relative;
  top: 3px;
}

.element-editor-editform {
  margin-top: 20px;
  margin-bottom: 0;
}

.popover-option-set__button {
  max-height: unset;
}

// might need to be moved to silverstripe-admin (check)
.text-checkbox-group-field .form-check-label {
  margin-left: 30px;
}

// * checkbox in /admin/settings
// .cms-edit-form .form-group.checkbox .form__field-holder {
//   margin-left: 0;
// }

.form-group {
}

.form-check-input:checked[type='radio'] {
  position: relative;
}

.table th:first-child,
.table td:first-child {
  padding-left: 0;
}

.table th:last-child,
.table td:last-child {
  padding-right: 0;
}

.tab.ui-tabs-panel.ui-corner-bottom.ui-widget-content .form-group:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.panel--padded.panel--scrollable {
  padding-right: $panel-padding-x;
}

.show-filter .grid-field__search-holder + .ss-gridfield-buttonrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.ml-auto {
  @extend .ms-auto;
}
.ml-1 {
  @extend .ms-1;
}
.ml-2 {
  @extend .ms-2;
}
.ml-3 {
  @extend .ms-3;
}
.ml-4 {
  @extend .ms-4;
}
.ml-5 {
  @extend .ms-5;
}
.mr-auto {
  @extend .me-auto;
}
.mr-1 {
  @extend .me-1;
}
.mr-2 {
  @extend .me-2;
}
.mr-3 {
  @extend .me-3;
}
.mr-4 {
  @extend .me-4;
}
.mr-5 {
  @extend .me-5;
}

.pl-1 {
  @extend .ps-1;
}
.pl-2 {
  @extend .ps-2;
}
.pl-3 {
  @extend .ps-3;
}
.pl-4 {
  @extend .ps-4;
}
.pl-5 {
  @extend .ps-5;
}
.pr-1 {
  @extend .pe-1;
}
.pr-2 {
  @extend .pe-2;
}
.pr-3 {
  @extend .pe-3;
}
.pr-4 {
  @extend .pe-4;
}
.pr-5 {
  @extend .pe-5;
}

.modal {
  z-index: 1060;
}

.field .chosen-container-single.chosen-container-active .chosen-single {
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}

.chosen-container .chosen-results-scroll-up span {
  top: 11px;
}

.chosen-container-single .chosen-single abbr {
  top: 11px;
}

.cms .grid-field__table tr th.main {
  vertical-align: middle;
}

.btn .btn__title {
  // position: relative;
  // top: 1px;
}

.action.action-detail.btn.btn-primary.font-icon-plus-circled {
  &::before {
    position: relative;
    top: -1px;
  }
}

.font-icon-cancel.btn--no-text.btn--icon-lg.search-box__cancel.btn.btn-secondary {
  border-bottom: 1px solid #dbdbdb;
}

// Hide gap at the top of table (! need to doublecheck)
.grid-field__title-row {
  display: none;
}

.form-check {
  min-height: unset;
}

.form-check-input {
  &:checked {
    background-color: unset;
  }
}

.form-check {
  min-height: unset;
  padding-left: 0; //$form-check-padding-start;
}

.btn {
  box-shadow: none;

  &:focus-visible {
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: none;
    } @else {
      box-shadow: none;
    }
  }
}

.jstree-apple .jstree-unchecked > a > .jstree-checkbox,
.jstree-checked > a > .jstree-checkbox {
  background-image: none;
}

.cms li.jstree-open > ul {
  margin-right: 0;
  margin-left: 0;
}

.cms .jstree.jstree-focused {
  margin-left: 0;
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  box-shadow: none;
}

.form-group.field {
  margin-bottom: 16px;
}

.form__field-extra-label,
.form__field-description {
  // .display-logic-display.form-group--no-label Settings/Configuration (MetaFBC/AppSec)
  color: rgba($brand-secondary, 0.6);
}

// refresh buttons seokit
.form__fieldgroup > .form__fieldgroup-item {
  vertical-align: text-bottom;
}

.form-group.field.CompositeField.fieldgroup.form-group--no-label {
  margin-bottom: 0;
}

.tox .tox-statusbar__path,
.tox .tox-statusbar__wordcount {
  font-size: 12px;
  opacity: 0.6;
}

.field .chosen-container-single .chosen-single {
  border: 1px solid #c1cad9;
}

.field .chosen-drop {
  border-color: #c1cad9;
}

.chosen-container-single .chosen-search input[type='text'] {
  border-color: #c1cad9;
}

.chosen-container .chosen-results li.highlighted {
  background-color: $brand-primary;
  background-image: unset !important;
}

// Settings/Configurations
.form-group.field.checkbox.display-logic-dispatcher {
  margin-bottom: 0;
}

.form-group.field.checkbox.display-logic-dispatcher + div {
  margin-top: 16px;
}

.table tbody tr td {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

// Tinymce Custom Skin
.tox-tinymce {
  border: 1px solid #dee2e6 !important;
  border-radius: var(--bs-border-radius) !important;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  &:hover {
    border: 1px solid rgba($brand-primary, 0.5) !important;
    box-shadow: 0 0 0 0.25rem rgba($brand-primary, 0.25);
  }
}

.tox-tiered-menu {
  position: absolute !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.toolbar__back-button {
  margin-right: 15px;
  border: 1px solid #eee;
}

.tox.tox-button {
  font-family: $font-family-sans-serif;
  font-weight: 600;
  background-color: $brand-success;
}

.insert-embed-modal__url-create {
  margin-bottom: 10px;
}

.insert-embed-modal--edit
  .fieldgroup.fieldgroup--fill-width
  .flexbox-area-grow.form-group--no-label.form-group {
  display: flex;
  flex-flow: column-reverse wrap;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($brand-primary, 0.6);
  background-clip: content-box;
  border: 3px solid transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba($brand-primary, 0.8);
}

.search-form__wrapper .form__field-label,
.search-box__content-field .form__field-label {
  margin-bottom: 10px;
}

.has-panel .section-label a {
  color: $brand-primary;
  text-decoration: none;
}

.tab-pane .form-group:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.tab-pane .form-group:last-child::after {
  border-bottom: 0;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  font-weight: 500;
}

.panel.panel--padded .ui-tabs-nav {
  padding-bottom: 7px;
  padding-left: 8px;
}

.panel.panel--padded .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  isolation: isolate;

  &::after {
    background-color: #fff;
  }
}

.panel.panel--padded .ui-tabs .ui-tabs-nav .ui-tabs-anchor.active {
  color: #fff;

  &::after {
    background-color: $brand-primary;
    opacity: 1;
  }
}

.ui-tabs .cms-tabset-nav-primary.ui-tabs-nav.cms-tabset-nav-primary {
  padding-left: 8px !important;
}

.toolbar__back-button {
  @include media-breakpoint-down(sm) {
    margin-left: 40px;
  }
}

// Settings, last form-group
.form-group.treemultiselect ~ div.form-group {
  &::after {
    border-bottom: 0 !important;
  }
}

.field.urlsegment .URL-link,
.ui-tabs.cms-tabset-primary .ui-tabs-nav .ui-state-default,
.ui-tabs .ui-tabs-nav.cms-tabset-nav-primary .ui-state-default,
.ui-tabs .cms-content-header-tabs .ui-tabs-nav .ui-state-default,
.panel--padded .ui-tabs-nav li {
  outline: none;
}

.btn.btn--loading,
.btn.loading {
  color: transparent !important;
}

.tox .tox-label,
.tox .tox-toolbar-label {
  margin-bottom: 10px;
}

.form-group.field.field.CompositeField.selectiongroup.parent-mode {
  margin-right: 0;
  margin-left: 0;
}

.cms .jstree li.jstree-open > ul > li > ul {
  margin-left: 7px;
}

// .jstree-no-checkboxes > li.jstree-last > ul > li > ul > li li {
//   margin-left: 7px;
// }

button.update.btn.btn-outline-secondary.form__field-update-url {
  display: inline-block;
  min-width: 94px;
  color: transparent;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    color: $brand-primary;
    content: 'Update URL';
    transform: translateY(-50%) translateX(-50%);
  }
}

// goldfinch/nested pdo
#Form_ItemEditForm_RightGroup_Holder + #preview-mode-dropdown-in-content {
  margin-left: 10px;
}

.cms-content-controls .preview-selector .chosen-container .chosen-container,
.toolbar--south .preview-selector .chosen-container .chosen-single {
  margin-right: 10px;
}

.action.btn.btn-primary.font-icon-plus-circled.new.new-link {
  padding-top: 6px;
  padding-bottom: 6px;

  &::before {
    top: 0;
  }
}

.grid-field {
  // display: flex;
  flex-wrap: wrap;
}

.grid-field .add-existing-autocompleter {
  // margin-left: auto;
  float: right;
}

.grid-field .action.action-detail {
  float: left;
  width: fit-content;
  height: fit-content;
}

.cms .grid-field .add-existing-autocompleter input.relation-search {
  border-color: $brand-primary;
}
.cms
  .grid-field
  .add-existing-autocompleter
  button.action_gridfield_relationadd {
}

.panel .alert {
  margin-bottom: 20px;
}

table thead tr:nth-child(2) th:first-child > button,
table tbody tr td:first-child {
  padding-left: 15px !important;
}

.grid.grid-field.ss-gridfield:not(.form-group--no-label) > .grid-field__table {
  margin-top: 60px !important;
}

// undefinedoffset/sortablegridfield
form
  table.grid-field__table
  thead
  tr
  td.sortablerowsheading
  .gridfield-sortablerows
  input[type='checkbox'] {
  height: 20px !important;
}

form table.grid-field__table thead tr td.sortablerowsheading label {
  position: relative;
  top: -5px;
  cursor: pointer;
}

.grid.grid-field {
  margin-top: 0 !important;
}

.form-group.field.multiselect {
  margin: 15px 0;
}

.form-group.field.multiselect .form__field-holder {
  padding: 0 7px;
  margin: 0;
}

.form-group.field.multiselect .form__field-holder .ui-multiselect {
  padding: 10px 20px;
  border-color: #c1cad9;
}

.form-group.field.multiselect .form__field-holder .ui-multiselect .available {
  padding-right: 10px;
}

.form-group.field.multiselect .form__field-holder .ui-multiselect .selected {
  padding-left: 10px;
}

.form-group.field.multiselect
  .form__field-holder
  .ui-multiselect
  .ui-multiselect
  .ui-widget-header {
  padding: 10px 0;
}

.form-group.field.multiselect {
  padding: 0;
}

.cms-edit-form .form-group.multiselect::after {
  margin-right: 0;
  margin-left: 0;
}

@media (width >= 992px) {
  .form--inline .form-group::after,
  .ss-insert-link .form__fieldgroup .form-group::after,
  .cms-edit-form .form-group::after {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .form--inline .form-group,
  .ss-insert-link .form__fieldgroup .form-group,
  .cms-edit-form .form-group {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .form--inline .form__field-label,
  .ss-insert-link .form__fieldgroup .form__field-label,
  .cms-edit-form .form__field-label {
    padding-left: 0 !important;
    margin-left: 0 !important;
  }

  .form--inline .form-group .form__field-holder .form-group .form__field-holder,
  .form--inline .form-group .form__field-holder .form-group .form__field-label,
  .ss-insert-link
    .form__fieldgroup
    .form-group
    .form__field-holder
    .form-group
    .form__field-holder,
  .ss-insert-link
    .form__fieldgroup
    .form-group
    .form__field-holder
    .form-group
    .form__field-label,
  .cms-edit-form
    .form-group
    .form__field-holder
    .form-group
    .form__field-holder,
  .cms-edit-form
    .form-group
    .form__field-holder
    .form-group
    .form__field-label {
    padding-left: 0 !important;
  }

  .form--inline .form-group:not(.stacked) .form__field-holder,
  .ss-insert-link
    .form__fieldgroup
    .form-group:not(.stacked)
    .form__field-holder,
  .cms-edit-form .form-group:not(.stacked) .form__field-holder {
    padding-left: 0 !important;
  }

  .form--inline .stacked .form__field-holder,
  .ss-insert-link .form__fieldgroup .stacked .form__field-holder,
  .cms-edit-form .stacked .form__field-holder {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

.form-group.field.multiselect {
  margin-bottom: 32px !important;
}

// link module (checkbox margin)
#Form_ItemEditForm_OpenInNewWindow_Holder {
  margin-top: 16px;
}

.linkfield__button {
  padding-bottom: 0;
  margin-top: 0;
}

// sortable grid module (checkbox)
form table.grid-field__table thead tr td.sortablerowsheading label {
  margin-bottom: 15px !important;
}

.badge.badge-info {
  --bs-bg-opacity: 1;

  background-color: rgb(
    var(--bs-secondary-rgb) var(--bs-bg-opacity)
  ) !important;
}

input[type='radio'] {
  position: relative !important;
}

input[type='radio'].selector {
  position: relative !important;
  bottom: -6px !important;
}

// colorpalette

.colorpalette li input:checked + label {
  position: relative !important;
  outline: none !important;
  box-shadow: 0 0 2px 2px #e7e7e7 !important;
}

.colorpalette li label {
  display: block !important;
  width: 50px !important;
  height: 50px !important;
  margin: 5px 15px 5px 5px !important;
  cursor: pointer !important;
  border: 0 !important;
  border: 1px solid #eee !important;
  border-radius: 50% !important;
  outline: 0 !important;
}

.colorpalette li input:checked + label::after {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  width: 20px !important;
  height: 20px !important;
  font-family: bootstrap-icons !important;
  font-size: 20px !important;
  line-height: 20px !important;
  color: #000 !important;
  text-align: center !important;
  text-shadow: 0 0 1px #fff !important;
  content: '\F26B' !important;
  background: #fff !important;
  border-radius: 50% !important;
  transform: translateX(-50%) translateY(-50%) !important;
}

.colorpalette li input:checked + label::before {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  font-family: bootstrap-icons !important;
  font-size: 22px !important;
  line-height: 48px !important;
  color: #fff !important;
  text-align: center !important;
  content: '\F26A' !important;
}

// innoweb/silverstripe-international-phone-number-field

.iti.iti--allow-dropdown input[type='tel'] {
  padding-left: 52px;
}

// ryanpotter/silverstripe-color-field

.color.field .c-color-picker__input {
  padding: 7px 10px !important;
}

.silverstripe-brand .silverstripe-cms-logo .text {
  fill: #fff !important;
}

#Form_ItemEditForm_RequiresPasswordChangeOnNextLogin_Holder
  .form__field-holder.form-check {
  margin-top: 10px;
}

#Form_ItemEditForm_Password_Holder .showOnClick > a {
  display: inline-block;
  margin-bottom: 10px;
}

.cms-menu__list li.current a {
  &::before {
    opacity: 1 !important;
  }
}

.ss-gridfield-configurable-paginator .pagination-page-size-select {
  margin-left: 10px !important;
}

// goldfinch/social-media
.btn-social-media-task {
  margin-bottom: 23px !important;
  height: 38px !important;
  padding-top: 8px !important;
}

// autocompleter extension
.grid-field .add-existing-autocompleter {
  height: 35.99px;
}
.cms .grid-field .add-existing-autocompleter button.action_gridfield_relationadd {
  padding-top: 5px !important;
}

.field.holder-good .alert,
.field.holder-info .alert,
.field.holder-warning .alert,
.field.holder-validation .alert,
.field.holder-message .alert,
.field.holder-error .alert {
  margin-top: 20px !important;
  margin-bottom: 0 !important;
}

form.validationerror .panel > .alert.alert-danger {
  padding: 12px 16px 17px!important;
}

.ui-dialog {
  border-radius: 0;
  border: 0 !important;
}

.ui-dialog .ui-dialog-content {
  padding: 0;
}

.ui-dialog .ui-dialog-titlebar-close {
  width: 30px;
  height: 30px;
  margin: -30px -30px 0;
  right: 0;
  box-shadow: none;
  background: transparent;
  border: 0;

  &:focus, &:active {
    border: 0;
    background: transparent;
  }
}

.ui-dialog .ui-dialog-titlebar-close span {}

.ui-dialog.loading {
  background: url('#{$enchantment_images}loading.svg') no-repeat center #fff;
}

.validationerror .panel--padded .ui-tabs-nav {
  margin-top: -20px !important;
}

.ss-toggle .ui-accordion-content .form__field-holder .field {
  padding-left: 0;
  padding-right: 0;
}

.ss-toggle .ui-accordion-content .form__field-label {
  margin-left: -9px;
}

.displaylogicwrapper.wrapper {
  margin-top: 0 !important;
  // margin-top: 16px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.form--inline .form-group:after, .ss-insert-link .form__fieldgroup .form-group:after, .cms-edit-form .form-group:after {
  width: 100% !important;
}

.field .chosen-container-single.chosen-container-active:not(.chosen-with-drop) .chosen-single {
  border-end-start-radius: var(--bs-border-radius);
  border-end-end-radius: var(--bs-border-radius);
}

.cms-edit-form .form-group:not(.stacked) .form__field-label {
  padding-top: .5385rem;
}

.grid-field__col-compact:not(.action-menu) {
  display: table-cell;
}
